<!DOCTYPE html>
<html>
    <head>
        <link href="../../../assets/css/bootstrap.min.css"rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css">
    </head>
    <body>
        <div>
            <h2>List of Property Types</h2>
            <table class="table-striped table hover table bordered">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                         <th>Description</th>                   
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>MSR Luxary</td>
                        <td>Nice</td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Land</td>
                        <td>nice adventure</td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>villa</td>
                        <td>Not badtd>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
