<!DOCTYPE html>
<html>
    <head>
        <link href="../../../assets/css/bootstrap.min.css"rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css">
    </head>
    <body>
        <div>
            <h2>View property</h2>
            <table class="table-striped table hover table bordered">
                <thead class="table-primary">
                    <tr>
                        <th>Registration ID</th>
                        <th>Type</th>
                        <th>Registration Owner</th>   
                        <th>Address</th>  
                        <th>Description</th>               
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>land</td>
                        <td>ABC</td>
                        <td>Hyderbad</td>
                        <td>land is............</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>villa</td>
                        <td>cde</td>
                        <td>hyd</td>
                        <td>villa is......</td>

                       
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>resort</td>
                        <td>efg</td>
                        <td>Banglore</td>
                        <td>It is a good resort</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
