<!DOCTYPE html>
<html>

<head>
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .menu-item{
            padding:10px;
        }
        .menu-item:hover{
            background-color: rgb(229, 205, 205);
        }
        .menu-item-link{
                color:white;
                text-decoration:none;
        }
        
       
       </style>
</head>

<body>
    <div class="bg-dark" style="width: 98%; height: 100vh;">
        <div class="menu-item">
            <a href="../property type/property_type_create/property-type-create.html" class="menu-item-link" target="_maincontainer">Add Property Type</a>
        </div>
        <div class="menu-item">
            <a href="../property type/property-type-view/properrty-type-view.html" class="menu-item-link"target="_maincontainer">View Property Type</a>
        </div>
        <div class="menu-item">
            <a href="../property/property-create/property-create.html" class="menu-item-link"target="_maincontainer"> Add Property</a>
        </div>
        <div class="menu-item">
            <a href="../property/property-view/property-view.html" class="menu-item-link"target="_maincontainer"> View Property</a>
        </div>
    </div>
</body>
</html>
